<a href="https://colab.research.google.com/github/EHN8829/EJERCICIO1/blob/main/ABC_Python_COLAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://miro.medium.com/v2/resize:fit:1400/1*zomnCz8-VMgrSV8eLCx2tw.gif" width="200" alt="molecula"  />

$$\Large \textit{Cuadernos de Código}$$

---
$$\large\textbf{ABC de Python}$$

---
$$\textit{Libro: Python para Todos}$$

<br>
<br>

__Jesus Alvarado-Huayhuaz__

# Introducción

## Visión general

__¿Por qué aprender a programar será útil en mis proyectos de Ciencia y Tecnología?__  

<div class=text-justify>Programar, o escribir programas, es una actividad enriquecedora porque ejercita nuestra creatividad, nos ayuda a visualizar situaciones desde diferentes perspectivas, a optimizar vías de solución y por supuesto, nos ayuda a automatizar operaciones repetitivas, entre muchas otras ventajas. Los proyectos de ciencia y tecnología requieren del estado del arte de nuestra temática, planteamiento de hipótesis, experimentación, tratamiento de datos, discusión de resultados, predicciones de nuevos resultados, etc., por ello, implementar la programación potenciará nuestras exploraciones.</div>

__¿Cual fue la palabra más repetida del párrafo anterior?__  
Esta tarea puede ser tediosa para nosotros, sin embargo, es la especialidad del computador...

<div class="alert alert-block alert-success">
<b>Ejemplo 1:</b> La palabra más repetida</div>

No es necesario profundizar en el siguiente código en estos momentos, esto será abordado con detalle más adelante. Para ejecutar el siguiente programa podemos guardar el párrafo en cuestión como ej0 (sin extensión) en la misma carpeta donde esta este manual en formato ipynb.

In [ ]:
name = input('Nombre del archivo:')
handle = open(name, 'r')
counts = dict()

for line in handle:
    words = line.split()
    for word in words:
        counts[word] = counts.get(word, 0) + 1

bigcount = None
bigword = None
for word, count in list(counts.items()):
    if bigcount is None or count > bigcount:
        bigword = word
        bigcount = count

print(f"La palabra que más se repitió fue '{bigword}' y se mencionó {bigcount} veces")
#podemos insertar el archivo llamado ej0

Ahora veremos cómo están constituidas las máquinas que lo ejecutan.

### Arquitectura Hardware

Esta compuesto por:

La **Unidad Central de Procesamiento (o CPU)** es el componente de la computadora encargado del “¿qué hago ahora?”. Si tu equipo está dentro de la clasificación de 3.0 Gigahercios, significa que la CPU preguntará “¿Qué hago ahora?” tres mil millones de veces por segundo.

La **Memoria Principal** se usa para almacenar la información que la CPU necesita de forma inmediata. La memoria principal es casi tan rápida como la CPU. Pero la información almacenada en la memoria principal desaparece cuando se apaga el equipo.

La **Memoria Secundaria** también se utiliza para almacenar información pero a "largo plazo". La ventaja de la memoria secundaria es que puede almacenar la información incluso cuando el equipo está apagado. Algunos ejemplos de memoria secundaria serían las unidades de disco o las memorias flash (que suelen encontrarse en los pendrives USB y en los reproductores de música portátiles).

Los **Dispositivos de Entrada y Salida** son: la pantalla, teclado, ratón, micrófono, altavoz, touchpad, etc. Incluyen cualquier modo de interacción con una computadora.  

Las **Conexiones de Red** se pueden entender como un lugar donde almacenar y recuperar datos de forma lenta que puede no estar siempre “activa”. Así que, en cierto sentido, la red no es más que un tipo de Memoria Secundaria más lenta y a veces poco fiable.

<img src="https://github.com/inefable12/Python_para_todos/blob/main/imagenes/imagen1.PNG?raw=1">

---
<img src="https://github.com/inefable12/Python_para_todos/blob/main/imagenes/imagen2.png?raw=1">

<div class="alert alert-block alert-warning">
<b>Zen de Python</b>

Bello es mejor que feo.  
Explícito es mejor que implícito.  
Simple es mejor que complejo.  
Complejo es mejor que complicado.  
Plano es mejor que anidado.  
Espaciado es mejor que denso.  
La legibilidad es importante.  
Los casos especiales no son lo suficientemente especiales como para romper las reglas.  
Sin embargo la practicidad le gana a la pureza.  
Los errores nunca deberían pasar silenciosamente.  
A menos que se silencien explícitamente.  
Frente a la ambigüedad, evitar la tentación de adivinar.  
Debería haber una, y preferiblemente solo una, manera obvia de hacerlo.  
A pesar de que eso no sea obvio al principio a menos que seas Holandés.  
Ahora es mejor que nunca.  
A pesar de que nunca es muchas veces mejor que *ahora* mismo.  
Si la implementación es difícil de explicar, es una mala idea.  
Si la implementación es fácil de explicar, puede que sea una buena idea.  
Los espacios de nombres son una gran idea, ¡tengamos más de esos!  
</br>    
["import this"]
</br>
</div>

In [4]:
# Imprimiendo texto que está pre cargado
import this

### Python

<div class=text-justify>Python es uno de los lenguajes de programación dinámicos más populares que existen entre los que se encuentran Java, Javascript, Go y C#. Aunque es considerado a menudo como un lenguaje "scripting", es realmente un lenguaje de propósito general. En la actualidad, Python es usado para practicamente todo, desde simples "scripts", hasta grandes servidores web que proveen servicio ininterrumpido 24×7. Es utilizado para la programación de interfaces gráficas y bases de datos, programación web tanto en el cliente como en el servidor (véase Django o Flask) y "testing" de aplicaciones. Además tiene una amplia aceptación por científicos que hacen aplicaciones para las supercomputadores más rápidas del mundo y por los niños que recién están comenzando a programar.</div>

<div class=text-justify>La historia del lenguaje de programación Python se remonta hacia finales de los 80s y principio de los 90s, su implementación comenzó en diciembre de 1989 cuando en Navidad Guido Van Rossum que trabajaba en el (CWI) (un centro de investigación holandés de carácter oficial que, entre otras cosas, actualmente alberga la oficina central del W3C) decidió empezar el proyecto como un pasatiempo dándole continuidad al lenguaje de programación ABC del que había formado parte del equipo de desarrollo en el CWI, dicho lenguaje se enfocaba en ser fácil de usar y aprender manteniendo potencia en su desempeño pero el hardware disponible en la época de su creación hacía difícil su uso y el proyecto no trascendió como se esperaba. Van Rossum es por tanto el autor principal de Python y continúa ejerciendo un rol central decidiendo la dirección del lenguaje, en la comunidad de Python se le conoce como Benevolente Dictador Vitalicio (en inglés: Benevolent Dictator for Life, BDFL). El nombre "Python" viene dado por la afición de Van Rossum al grupo Monty Python.</div>

In [5]:
# Conociendo la versión de Phyton
!python --version

Python 3.10.12

__Palabras reservadas__  


En Python 3.7, disponemos de 35:

<img src="https://github.com/inefable12/Python_para_todos/blob/main/imagenes/miau.jpg?raw=1">

Figura 1. Conversando con python.

In [6]:
# Conociendo palabras claves de Phyton
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

<div class="alert alert-block alert-success">
<b>Ejemplo 2:</b> ¿Será una palabra reservada? </div>

In [7]:
reserv = ["False","class","from","or","None","continue","global","pass","True","def","if","raise","and","del","import","return","as","elif","in","try","assert","else","is","while","async","except","lambda","with","await","finally","nonlocal","yield","break","for","not"]
len(reserv)

35

In [ ]:
palabrita = input("Qué palabra deseas consultar? ")

if (palabrita in reserv):
    print("La palabra está reservada por Python")
else:
    print("No, no está reservada por Python")

35 palabras reservadas, son relativamente pocas, pero cada vez que sean usadas servirán unicamente para la tarea creada. Nosotros podemos crear nuestras propias palabras con significado, que llamaremos *variables*.

<div class="alert alert-block alert-success">
<b>Ejemplo 3:</b> Masa molecular del agua</div>

In [ ]:
# Variables: masa_hidrogeno y masa_oxigeno
masa_hidrogeno = 1.001
masa_oxigeno = 15.999

In [ ]:
masa_agua = masa_hidrogeno*2 + masa_oxigeno
print(f"la masa molecular del agua es {masa_agua}")

**Interpretar y compilar**

<div class=text-justify>Como se mencionó Python es un <span style="color:magenta">lenguaje de alto nivel</span>, como por ejemplo Java, C++, PHP, Ruby, Basic, Perl, JavaScript, y muchos más, sin embargo, el hardware que se encuentra dentro del CPU solo "entiende" un lenguaje llamado lenguaje de máquina o código
máquina. El código máquina es muy simple y pesado de escribir, ya que está representado en su totalidad por solamente ceros y unos:

.</div>
</br>
> 0010100011101001001010100000011  
> 11100110000011101010010101101101  
> ...

<div class=text-justify>Como muy pocos programadores escriben en código máquina, Python, Javascript funcionan como traductores. Dado que el código máquina está ligado al hardware de la máquina que lo ejecuta, ese código no es portable (trasladable) entre equipos de  diferente tipo. Los programas escritos en lenguajes de alto nivel pueden ser trasladados entre distintas máquinas usando un intérprete diferente en cada una de ellas, o recompilando el código para crear una versión diferente del código máquina del programa para cada uno de los tipos de equipo. Esos traductores de lenguajes de programación forman dos categorías generales:</div>  
    
    (1) intérpretes y  
    (2) compiladores  
    
<div class=text-justify>Un <span style="color:magenta">intérprete</span> lee el código fuente de los programas tal y como ha sido escrito por el programador, lo analiza, e interpreta sus instrucciones sobre la marcha. Python es un intérprete y cuando lo estamos ejecutando de forma interactiva, podemos escribir una línea de Python (una frase), y este la procesa de forma inmediata, quedando listo para que podamos escribir otra línea. Algunas de esas líneas le indican a Python que tú quieres que recuerde cierto valor para utilizarlo más tarde. Tenemos que escoger un nombre para que ese valor sea recordado y usaremos ese nombre simbólico para recuperar el valor más tarde. Utilizamos el término <span style="color:magenta">variable</span> para denominar las etiquetas que usamos para referirnos a esos datos almacenados.</div>

> x = 6  
> print(x)  
> <span style="color:blue">6</span>  

> y = x * 7  
> print(y)  
> <span style="color:blue">42</span>    
</br>
</div>

<div class=text-justify>En este ejemplo, le pedimos a Python que recuerde el valor seis y use la etiqueta "x" para que podamos recuperar luego. Comprobamos que Python ha guardado de verdad el valor usando print. Luego le pedimos a Python que recupere "x", lo multiplique por siete y guarde el valor calculado en y. Finalmente, le pedimos a Python que escriba el valor actual de y. A pesar de que estamos escribiendo estos comandos en Python línea a línea, Python los está tratando como una secuencia ordenada de sentencias, en la cual las últimas frases son capaces de obtener datos creados en las anteriores. Estamos, por tanto, escribiendo nuestro primer párrafo sencillo con cuatro frases en un orden lógico y útil.</div>   
</br>
</br>
<div class=text-justify>La esencia de un intérprete consiste en ser capaz de mantener una conversación interactiva como la mostrada más arriba. Un <span style="color:magenta">compilador</span> necesita que le entreguen el programa completo en un fichero, y luego ejecuta un proceso para traducir el código fuente de alto nivel a código máquina, tras lo cual coloca ese código máquina resultante dentro de otro fichero para su ejecución posterior. En sistemas Windows, a menudo esos ejecutables en código máquina tienen un sufijo o extensión como “.exe” o “.dll”, que significan “ejecutable” y “librería de enlace dinámico” (dynamic link library) respectivamente. En Linux y Macintosh, no existe un sufijo que identifique de manera exclusiva a un fichero como ejecutable.  
</br>
</br>
</br>
</div>

**Escribiendo un programa**

<div class=text-justify>Escribir comandos en el intérprete de Python es un buen modo de experimentar con las capacidades de Python, pero no es lo más recomendado a la hora de resolver problemas más complejos.
Cuando queremos escribir un programa, usamos un editor de texto para escribir las instrucciones de Python en un fichero, que recibe el nombre de <span style="color:blue"><b>script</b> </span>. Por convención, los scripts de Python tienen nombres que terminan en <span style="color:magenta">.py</span>. Para ejecutar el script, hay que indicarle al intérprete de Python el nombre del fichero. En una ventana de comandos de Unix o Windows, escribirías <span style="color:magenta">python hola.py</span>, de este modo:</span>

In [ ]:
!cat hola.py

In [ ]:
!python hola.py

**¿Qué es un programa?**  

<div class=text-justify>Podemos definir un programa, en su forma más básica, como una secuencia de declaraciones o sentencias que han sido diseñadas para hacer algo. Incluso nuestro sencillo script “<span style="color:magenta">hola.py</span>” es un programa. Es un programa de una sola línea y no resulta particularmente útil, pero si nos ajustamos estrictamente a la definición, se trata de un programa en Python.</span>  
    
<div class=text-justify>Tal vez resulte más fácil comprender qué es un programa pensando en un problema que pudiera ser resuelto a través de un programa, y luego estudiando cómo sería el programa que solucionaría ese problema.</span>  

<div class=text-justify>Supongamos que estás haciendo una investigación de computación o informática social en mensajes de Facebook, y te interesa conocer cual es la palabra más utilizada en un conjunto de mensajes. Podrías imprimir el flujo de mensajes de Facebook y revisar con atención el texto, buscando la palabra más común, pero sería un proceso largo y muy propenso a errores. Sería más inteligente escribir un programa en Python para encargarse de la tarea con rapidez y precisión, y así poder emplear nuestro tiempo en hacer otras cosas más divertidas.</span>   

<div class=text-justify>Por ejemplo, fíjate en el texto del archivo <span style="color:magenta">WW_canto.txt</span>, que contiene el poema «Canto a mí mismo» de Walt Whitman (Traducción de Jorge Luis Borges). Revísalo, trataremos de averiguar cual es la palabra más común y cuántas veces se repite con el programa visto líneas arriba, pero ahora guardado en el archivo <span style="color:magenta">contador.py</span></span>.

In [ ]:
!python contador.py

<div class="alert alert-block alert-success">
<b>Ejemplo 4: ¿Cuántas "A" contiene la siguiente secuencia?</b></div>

**AGTCCCGATAAATCAG**

In [ ]:
x = 'ATG'

In [ ]:
y = 'TTT'

In [ ]:
type(x + y)

In [ ]:
x+y #suma de strings produce concatenacion

In [ ]:
seq1="AGTCCCGATAAATCAG"
seq1

In [ ]:
seq1.lower()
#seq1.upper()

In [ ]:
seq1.count("A")

In [ ]:
help(len)

In [ ]:
#Reemplazando
seq1.replace("T","U")

In [ ]:
seq1[2]

¿Si se cambio la T por la U, por qué aparece 'T' en seq1[2]?

In [ ]:
#Tomando unua porción
seq1[1:5]

__Tipos de Errores de sintaxis__

1. Errores de sintaxis:  
<div class=text-justify>Estos son los primeros errores que cometerás y también los más fáciles de solucionar. Un error de sintaxis significa que has violado las reglas “gramaticales” de Python. Python hace todo lo que puede para señalar el punto exacto, la línea y el carácter donde ha detectado el fallo. Lo único complicado de los errores de sintaxis es que a veces el error que debe corregirse está en realidad en una línea anterior a la cual Python detectó ese fallo. De modo que la línea y el carácter que Python indica en un error de sintaxis pueden ser tan sólo un punto de partida para tu investigación.</div>
<br/>
2. Errores lógicos:    
<div class=text-justify>Se produce un error lógico cuando un programa tiene una sintaxis correcta, pero existe un error en el orden de las sentencias o en la forma en que están relacionadas unas con otras. Un buen ejemplo de un error lógico sería: “toma un trago de tu botella de agua, ponla en tu mochila, camina hasta la biblioteca y luego vuelve a enroscar la tapa en la botella.”</div>
<br/>
3. Errores semánticos:  
<div class=text-justify>Un error semántico ocurre cuando la descripción que has brindado de los pasos a seguir es sintácticamente perfecta y está en el orden
correcto, pero sencillamente hay un error en el programa. El programa es correcto, pero no hace lo que tú pretendías que hiciera. Un ejemplo podría ser cuando le das indicaciones a alguien sobre cómo llegar a un restaurante, y le dices “. . . cuando llegues a la intersección con la gasolinera, gira a la izquierda, continúa durante otro kilómetro y el restaurante es el edificio rojo que encontrarás a tu izquierda.”. Tu amigo se retrasa y te llama para decirte que está en una granja dando vueltas alrededor de un granero, sin rastro alguno de un restaurante. Entonces le preguntas “¿giraste a la izquierda o la derecha?”, y te responde “Seguí tus indicaciones al pie de la letra, dijiste que girara a la izquierda y continuar un kilómetro desde la gasolinera.”, entonces le respondes “Lo siento mucho, porque a pesar de que mis indicaciones fueron sintácticamente correctas, tristemente contenían un pequeño pero indetectado error semántico.”</div>

### Glosario

__bug__ Un error en un programa.  
__código fuente__ Un programa en un lenguaje de alto nivel.  
__código máquina__ El lenguaje de más bajo nivel para el software, es decir, el lenguaje que es directamente ejecutado por la unidad central de procesamiento (CPU).  
__compilar__ Traducir un programa completo escrito en un lenguaje de alto nivel a un lenguaje de bajo nivel, para dejarlo listo para una ejecución posterior.  
__error semántico__ Un error dentro de un programa que provoca que haga algo diferente de lo que pretendía el programador.  
__función print__ Una instrucción que hace que el intérprete de Python muestre un valor en la pantalla.  
__indicador de línea de comandos (prompt)__ Cuando un programa muestra un mensaje y se detiene para que el usuario teclee algún tipo de dato.  
__interpretar__ Ejecutar un programa escrito en un lenguaje de alto nivel traduciéndolo línea a línea.  
__lenguaje de alto nivel__ Un lenguaje de programación como Python, que ha sido diseñado para que sea fácil de leer y escribir por las personas.  
__lenguaje de bajo nivel__ Un lenguaje de programación que está diseñado para ser fácil de ejecutar para una computadora; también recibe el nombre de “código máquina”, “lenguaje máquina” o “lenguaje ensamblador”.  
__memoria principal__ Almacena los programas y datos. La memoria principal pierde su información cuando se desconecta la alimentación.  
__memoria secundaria__ Almacena los programas y datos y mantiene su información incluso cuando se interrumpe la alimentación. Es generalmente más lenta que la memoria principal. Algunos ejemplos de memoria secundaria son las unidades de disco y memorias flash que se encuentran dentro de los dispositivos USB.  
__modo interactivo__ Un modo de usar el intérprete de Python, escribiendo comandos y expresiones directamente en el indicador de la línea de comandos.  
__parsear__ Examinar un programa y analizar la estructura sintáctica.  
__portabilidad__ Es la propiedad que poseen los programas que pueden  funcionar en más de un tipo de computadora.  
__programa__ Un conjunto de instrucciones que indican cómo realizar algún tipo de cálculo.  
__resolución de un problema__ El proceso de formular un problema, encontrar una solución, y mostrar esa solución.  
__semántica__ El significado de un programa.  
__unidad central de procesamiento__ El corazón de cualquier computadora. Eslo que ejecuta el software que escribimos. También recibe el nombre de “CPU” por sus siglas en inglés (Central Processsing Unit), o simplemente, “el procesador”.

### Ejercicios

__Ejercicio 1: ¿Cuál es la función de la memoria secundaria en una computadora?__  
a) Ejecutar todos los cálculos y la lógica del programa  
b) Descargar páginas web de Internet  
c) Almacenar información durante mucho tiempo, incluso después de ciclos de apagado y encendido  
d) Recolectar la entrada del usuario

Ejercicio 2: ¿Qué es un programa?

Ejercicio 3: ¿Cuál es la diferencia entre un compilador y un intérprete?

__Ejercicio 4: ¿Cuál de los siguientes contiene “código máquina”?__  
a) El intérprete de Python  
b) El teclado  
c) El código fuente de Python  
d) Un documento de un procesador de texto

__Ejercicio 5: ¿Qué está mal en el siguiente código?:__

<img src="https://github.com/inefable12/Python_para_todos/blob/main/imagenes/imagen3.PNG?raw=1">

__Ejercicio 6: ¿En qué lugar del computador queda almacenada una variable, como en este caso “X”, después de ejecutar la siguiente línea de Python?:__

x = 123  
a) Unidad central de procesamiento  
b) Memoria Principal  
c) Memoria Secundaria  
d) Dispositivos de Entrada  
e) Dispositivos de Salida

__Ejercicio 7: ¿Qué mostrará en pantalla el siguiente programa?:__

> x = 43  
> x = x + 1  
> print(x)

a) 43  
b) 44  
c) x + 1  
d) Error, porque x = x + 1 no es posible matemáticamente.

__Ejercicio 8:__ Explica cada uno de los siguientes conceptos usando un ejemplo de una capacidad humana:   
(1) Unidad central de procesamiento,   
(2) Memoria principal,   
(3) Memoria secundaria,  
(4) Dispositivos de entrada, y  
(5) Dispositivos de salida.  
Por ejemplo, “¿Cuál sería el equivalente humano de la Unidad central de procesamiento?”.

__Ejercicio 9:__ ¿Cómo puedes corregir un “Error de sintaxis”?.

---
<img src="https://github.com/inefable12/Python_para_todos/blob/main/imagenes/xkcd911.PNG?raw=1">
<br/>  
<br/>  
<br/>

## Valores, tipos & variables

### Valores y tipos

Los números o las palabras son *valores* y estos pertenecen a categorías o *tipos* diferentes, como los enteros o las cadenas (*strings*). Las cadenas reciben este nombre por contener un conjunto o "cadena" de letras. Podemos identificar las cadenas porque van encerradas entre comillas. Entonces también podemos expresar los números como cadenas si les colocamos comillas.

In [ ]:
saludo = 'hola'
type(saludo)

In [ ]:
type(12)

In [ ]:
type(12.0)

In [ ]:
clave_numerica = '123456'
type(clave_numerica)

Si usamos comas para denotar un número grande, python lo interpretará como

In [ ]:
que_es = (1,000,000)
que_es

In [ ]:
type(que_es)

In [ ]:
print(1,000,000)

In [ ]:
type(print(1,000,000))

### Variables

Una de las características más potentes de un lenguaje de programación es la capacidad de manipular variables. Una variable es un nombre que se refiere a un
valor.

**Nombres de las variables**

Los nombres que les asignamos a las variables generalmente documentan lo que estamos haciendo. Estas no pueden comenzar en números y tampoco tener espacios, caracteres especiales o guiones, a menos que sea un guión-bajo. De cometer estos errores, recibiremos el mensaje: "SyntaxError: invalid syntax"

In [ ]:
123bien = 'primer comentario'

In [ ]:
123 bien = "segundo comentario"

In [ ]:
ninh@s = "3"

In [ ]:
mensaje = 'Y ahora algo completamente diferente'
n = 17
pi = 3.1415926535897931

La última celda no comete los errores mencionados, por ende, podemos emplear esas variables para realizar operaciones con python.

### Sentencias

Una sentencia es una unidad de código que el intérprete de Python puede ejecutar, como por ejemplo, print('hola') o pi=3.14.  

Cuando escribes una sentencia en modo interactivo, el intérprete la ejecuta y muestra el resultado, si es que lo hay.  

Un script normalmente contiene una secuencia de sentencias. Si hay más de una sentencia, los resultados aparecen de uno en uno según se van ejecutando las sentencias.

### Operadores y operandos

Los operadores son símbolos especiales que representan cálculos, como la suma o la multiplicación. Los valores a los cuales se aplican esos operadores reciben el nombre de operandos.  

Los operadores +, -,/,\\, y * realizan sumas, restas, multiplicaciones, divisiones y exponenciación (elevar un número a una potencia), como se muestra en los ejemplos siguientes:

In [ ]:
hora=20+2
print(
    hora-1,
    hora*20,
    hora*60/3,
    5**2,
    (5-7)*(15-7)
)

In [ ]:
2/5

In [ ]:
2//5

### Expresiones

Una expresión es una combinación de valores, variables y operadores. Un valor por si mismo se considera una expresión, y también lo es una variable.

In [ ]:
x=1
x+2

Las expresiones se tornarán más útiles en un script, cuando realicemos iteración o recursividad más adelante.

In [ ]:
# Ejemplo de recursividad, se verá con mayor detalle más adelante
def fun_fact(x):
 if (x==1):
   return 1
 else:
   x=(x*fun_fact(x-1))
 return x

In [ ]:
num=6
print("El factorial de ", num, "es ",fun_fact(num))

### Orden de las operaciones

Cuando tenemos más de un operador

Las reglas de precedencia, para cuando tenemos más de un operador

### Operador módulo

El operador módulo trabaja con enteros y obtiene el resto de la operación consistente en dividir el primer operando por el segundo.

In [ ]:
quotient = 7 // 3
print(quotient)

In [ ]:
remainder = 7 % 3
print(remainder)

### Operaciones con cadenas

El operador + funciona con las cadenas, pero no realiza una suma en el sentido
matemático. En vez de eso, realiza una concatenación, que quiere decir que une
ambas cadenas, enlazando el final de la primera con el principio de la segunda. Por
ejemplo:

In [ ]:
primero = 10
segundo = 15
print(primero+segundo)

In [ ]:
primero = '100'
segundo = '150'
print(primero+segundo)

El operador * también trabaja con cadenas multiplicando el contenido de una
cadena por un entero. Por ejemplo:

In [ ]:
primero = 'Test '
second = 3
print(primero * second)

### Glosario

__asignación__ Una sentencia que asigna un valor a una variable.  
__cadena__ Un tipo que representa secuencias de caracteres.  
__concatenar__ Unir dos operandos, uno a continuación del otro.   
__comentario__ Información en un programa que se pone para otros programadores
(o para cualquiera que lea el código fuente), y no tiene efecto alguno en la
ejecución del programa.  
__división entera__ La operación que divide dos números y trunca la parte fraccionaria.  
__entero__ Un tipo que representa números enteros.  
__evaluar__ Simplificar una expresión realizando las operaciones en orden para obtener un único valor.  
__expresión__ Una combinación de variables, operadores y valores que representan un único valor resultante.  
__mnemónico__ Una ayuda para memorizar. A menudo damos nombres mnemónicos a las variables para ayudarnos a recordar qué está almacenado en ellas.  
__palabra clave__ Una palabra reservada que es usada por el compilador para analizar un programa; no se pueden usar palabres clave como *if*, *def*, y *while* como nombres de variables.  
__punto flotante__ Un tipo que representa números con parte decimal.  
__operador__ Un símbolo especial que representa un cálculo simple, como suma, multiplicación o concatenación de cadenas.  
__operador módulo__ Un operador, representado por un signo de porcentaje (%), que funciona con enteros y obtiene el resto cuando un número es dividido por otro.  
__operando__ Uno de los valores con los cuales un operador opera.  
__reglas de precedencia__ El conjunto de reglas que gobierna el orden en el cual son evaluadas las expresiones que involucran a múltiples operadores.   
__sentencia__ Una sección del código que representa un comando o acción. Hasta ahora, las únicas sentencias que hemos visto son asignaciones y sentencias print.  
__tipo__ Una categoría de valores. Los tipos que hemos visto hasta ahora son enteros (tipo int), números en punto flotante (tipo float), y cadenas (tipo str).   
__valor__ Una de las unidades básicas de datos, como un número o una cadena, que un programa manipula.  
__variable__ Un nombre que hace referencia a un valor.

### Ejercicios

**Ejercicio 10: Escribe un programa que pida al usuario su nombre y luego darle la bienvenida.**
> Introduzca su nombre: Puquna  
> Hola, Puquna

**Ejercicio 11: Escribe un programa para pedirle al usuario el número de horas y la tarifa por hora para calcular el salario bruto.**
> Introduzca Horas: 35  
> Introduzca Tarifa: 2.75  
> Salario: 96.25  

<div class=text-justify>Por ahora no es necesario preocuparse de que nuestro salario tenga exactamente
dos dígitos después del punto decimal. Si quieres, puedes probar la función interna
de Python round para redondear de forma adecuada el salario resultante a dos
dígitos decimales.</div>

**Ejercicio 12: Asume que ejecutamos las siguientes sentencias de asignación:**
> ancho = 17  
> alto = 12.0  

Para cada una de las expresiones siguientes, escribe el valor de la expresión y el tipo (del valor de la expresión).
1. ancho/2
2. ancho/2.0
3. alto/3
4. 1 + 2 * 5  

Usa el intérprete de Python para comprobar tus respuestas.

<div class=text-justify>Ejercicio 13: Escribe un programa que le pida al usuario una temperatura en grados Celsius, la convierta a grados Fahrenheit e imprima por pantalla la temperatura convertida.</div>

https://xkcd.com/99/

---
<img src="https://github.com/inefable12/Python_para_todos/blob/main/imagenes/xkcd99.jpg?raw=1">
<br/>  
<br/>  
<br/>

## Ejecución condicional

### Expresiones booleanas

<div class=text-justify>Una expresión booleana es aquella que puede ser verdadera (True) o falsa (False). Los ejemplos siguientes usan el operador ==, que compara dos operandos y devuelve True si son iguales y False en caso contrario:</div>

In [ ]:
5 == 5

In [ ]:
5 == 6

True y False son valores especiales que pertenecen al tipo bool (booleano); no son cadenas:

In [ ]:
type(True)

<div class="alert alert-block alert-warning">El operador == es uno de los operadores de comparación; los demás son:</div>

x es distinto de y   
**x != y**  

x es mayor que y  
**x > y** #   

x es menor que y  
**x < y** #   

x es mayor o igual que y  
**x >= y** #


**x <= y** # x es menor o igual que y  


**x is y** # x es lo mismo que y  


**x is not y** # x no es lo mismo que y

<div class="alert alert-block alert-info">Recuerda que = es un operador de asignación, y == es un operador de comparación. No existe algo como =< o => </div>

### Operadores lógicos

Existen tres operadores lógicos: and (y), or (o), y not (no). El significado
semántico de estas operaciones es similar a su significado en inglés. Por ejemplo,

x > 0 and x < 10

es verdadero sólo cuando x es mayor que 0 y menor que 10.

In [ ]:
13 and True

### Ejecución condicional

<div class=text-justify>Para poder escribir programas útiles, casi siempre vamos a necesitar la capacidad de comprobar condiciones y cambiar el comportamiento del programa de acuerdo a ellas. Las sentencias condicionales nos proporcionan esa capacidad. La forma más sencilla es la sentencia if:</div>

In [ ]:
x=3
if x>0:
    print('x es positivo')

In [ ]:
ent = input('Introduzca la Temperatura Fahrenheit:')
try:
    fahr = float(ent)
    cel = (fahr - 32.0) * 5.0 / 9.0
    print(cel)
except:
    print('Por favor, introduzca un número')

### Glosario

**condición** La expresión booleana en una sentencia condicional que determina qué rama será ejecutada.  
**condicional anidado** Una sentencia condicional que aparece en una de las ramas de otra sentencia condicional.  
**condicional encadenado** Una sentencia condicional con una serie de ramas alternativas.  
**cortocircuito** Cuando Python va evaluando una expresión lógica por tramos y detiene el proceso de evaluación debido a que ya conoce el valor final que va a tener el resultado sin necesidad de evaluar el resto de la expresión.  
**cuerpo** La secuencia de sentencias en el interior de una sentencia compuesta.  
**expresión booleana** Un expresión cuyo valor puede ser o bien Verdadero o bien Falso.  
**operadores de comparación** Uno de los operadores que se utiliza para comparar dos operandos: ==, !=, >, <, >=, y <=.  
**operador lógico** Uno de los operadores que se combinan en las expresiones booleanas: and, or, y not.  
**patrón guardián** Cuando construimos una expresión lógica con comparaciones adicionales para aprovecharnos del funcionamiento en cortocircuito.  
**rama** Una de las secuencias alternativas de sentencias en una sentencia condicional.  
**sentencia compuesta** Una sentencia que consiste en un encabezado y un cuerpo. El encabezado termina con dos-puntos (:). El cuerpo está indentado con relación al encabezado.  
**sentencia condicional** Una sentencia que controla el flujo de ejecución, dependiendo de cierta condición.  
**traceback** Una lista de las funciones que se están ejecutando, que se muestra en pantalla cuando se produce una excepción.

### Ejercicios

**Ejercicio 14: Reescribe el programa del cálculo del salario de la referencia 2, para darle al empleado 1.5 veces la tarifa horaria para todas las horas trabajadas que excedan de 40.**  
> Introduzca las Horas: 45  
> Introduzca la Tarifa por hora: 10  
> Salario: 475.0

**Ejercicio 15: Reescribe el programa del salario de la referencia 2, usando try y except, de modo que el programa sea capaz de gestionar entradas no numéricas con elegancia, mostrando un mensaje y saliendo del programa. A continuación se muestran dos ejecuciones
del programa:**  
> Introduzca las Horas: 20  
> Introduzca la Tarifa por hora: nueve  
> Error, por favor introduzca un número  
<br/>
> Introduzca las Horas: cuarenta  
> Error, por favor introduzca un número

**Ejercicio 16: Escribe un programa que solicite una puntuación entre 0.0 y 1.0. Si la puntuación está fuera de ese rango, muestra un mensaje de error. Si la puntuación está entre 0.0 y 1.0, muestra la calificación usando la tabla siguiente:**

Puntuación Calificación  
**>= 0.9** Sobresaliente  
**>= 0.8** Notable  
**>= 0.7** Bien  
**>= 0.6** Suficiente  
**< 0.6** Insuficiente  
Introduzca puntuación: 0.95  
Sobresaliente  
Introduzca puntuación: perfecto  
Puntuación incorrecta  
Introduzca puntuación: 10.0  
Puntuación incorrecta  
Introduzca puntuación: 0.75  
Bien  
Introduzca puntuación: 0.5  
Insuficiente  
Ejecuta el programa repetidamente, como se muestra arriba, para probar con varios valores de entrada diferentes.

## Funciones e iteraciones

### LLamadas a funciones

En el contexto de la programación, una función es una secuencia de sentencias que
realizan una operación y que reciben un nombre. Cuando se define una función, se
especifica el nombre y la secuencia de sentencias. Más adelante, se puede “llamar”
a la función por ese nombre. Ya hemos visto un ejemplo de una llamada a una
función:

In [ ]:
type(32)

El nombre de la función es type. La expresión entre paréntesis recibe el nombre
de argumento de la función. El argumento es un valor o variable que se pasa a la
función como parámetro de entrada. El resultado de la función type es el tipo del
argumento.

Es habitual decir que una función “toma” (o recibe) un argumento y “retorna” (o
devuelve) un resultado. El resultado se llama valor de retorno.

### Funciones internas

Python proporciona un número importante de funciones internas, que pueden ser
usadas sin necesidad de tener que definirlas previamente. Los creadores de Python
han escrito un conjunto de funciones para resolver problemas comunes y las han
incluido en Python para que las podamos utilizar.

Las funciones max y min nos darán respectivamente el valor mayor y menor de una
lista:

In [ ]:
max('Hola, mundo')

In [ ]:
min('Hola, mundo')

La función max nos dice cuál es el “carácter más grande” de la cadena (que resulta
ser la letra “u”), mientras que la función min nos muestra el carácter más pequeño
(que en ese caso es un espacio).
Otra función interna muy común es len, que nos dice cuántos elementos hay en
su argumento. Si el argumento de

In [ ]:
len('Hola, mundo')

Estas funciones no se limitan a buscar en cadenas. Pueden operar con cualquier
conjunto de valores, como veremos en los siguientes capítulos.
Se deben tratar los nombres de las funciones internas como si fueran palabras
reservadas (es decir, evita usar “max” como nombre para una variable).

### Funciones de conversión de tipos

Python también proporciona funciones internas que convierten valores de un tipo
a otro. La función int toma cualquier valor y lo convierte en un entero, si puede,
o se queja si no puede:

In [ ]:
int('32')

In [ ]:
int(3.99999)

In [ ]:
int(-2.3)

In [ ]:
float(32)

In [ ]:
float('3.14159')

In [ ]:
str(32)

### Funciones matemáticas

In [ ]:
import math

relacion = 5 #int_senal / int_ruido
decibelios = 10 * math.log10(relacion)
decibelios

In [ ]:
grados = 45
radianes = grados / 360.0 * 2 * math.pi
math.sin(radianes)

In [ ]:
math.sqrt(2) / 2.0

### Números aleatorios

In [ ]:
import random

for i in range(10):
    x = random.random()
    print(x)

In [ ]:
random.randint(5, 10)

In [ ]:
random.randint(5, 10)

In [ ]:
t = [1, 2, 3]
random.choice(t)

In [ ]:
random.choice(t)

### Nuevas funciones

In [ ]:
def muestra_estribillo():
    print('Soy un leñador, qué alegría.')
    print('Duermo toda la noche y trabajo todo el día.')

In [ ]:
muestra_estribillo()

In [ ]:
def sumados(a, b):
    suma = a + b
    return suma

In [ ]:
x = sumados(3, 5)
print(x)

### Iteraciones

**WHILE**

In [ ]:
while True:
    linea = input('> ')
    if linea == 'fin':
        break
    print(linea)
print('¡Terminado!')

**CONTINUE**

Algunas veces, estando dentro de un bucle se necesita terminar con la iteración
actual y saltar a la siguiente de forma inmediata. En ese caso se puede utilizar
la sentencia continue para pasar a la siguiente iteración sin terminar la ejecución
del cuerpo del bucle para la actual.
A continuación se muestra un ejemplo de un bucle que repite lo que recibe como
entrada hasta que el usuario escribe “fin”, pero trata las líneas que empiezan por el
carácter almohadilla como líneas que no deben mostrarse en pantalla (algo parecido
a lo que hace Python con los comentarios).

In [ ]:
while True:
    linea = input('> ')
    if linea[0] == '#' :
        continue
    if linea == 'fin':
        break
    print(linea)
print('¡Terminado!')

**FOR**

In [ ]:
amigos = ['Joseph', 'Glenn', 'Sally']
for amigo in amigos:
    print('Feliz año nuevo:', amigo)
    print('¡Terminado!')

### Glosario

**acumulador** Una variable usada en un bucle para sumar o acumular un resultado.  
**algoritmo** Un proceso general para resolver una categoría de problemas.  
**argumento** Un valor proporcionado a una función cuando ésta es llamada. Ese valor se asigna al parámetro correspondiente en la función.  
**bucle infinito** Un bucle en el cual la condición de terminación no se satisface nunca o para el cual no existe dicha condición de terminación.  
**cabecera** La primera línea de una definición de función.  
**contador** Una variable usada en un bucle para contar el número de veces que algo sucede. Inicializamos el contador a cero y luego lo vamos incrementando cada vez que queramos que “cuente” algo.  
**cuerpo** La secuencia de sentencias dentro de la definición de una función.  
**composición** Uso de una expresión o sentencia como parte de otra más larga.  
**decremento** Una actualización que disminuye el valor de una variable.  
**definición de función** Una sentencia que crea una función nueva, especificando su nombre, parámetros, y las sentencias que ejecuta.  
**determinístico** Perteneciente a un programa que hace lo mismo cada vez que se ejecuta, a partir de las mismas entradas.  
**función** Una secuencia de sentencias con un nombre que realizan alguna operación útil. Las funciones pueden tomar argumentos o no, y pueden producir un resultado o no.  
**función productiva (fruitful function)** Una función que devuelve un valor.  
**función estéril (void function)** Una función que no devuelve ningún valor.  
**flujo de ejecución** El orden en el cual se ejecutan las sentencias durante el funcionamiento de un programa.  
**inicializar** Una asignación que da un valor inicial a una variable que va a ser después actualizada.  
**incremento** Una actualización que aumenta el valor de una variable (a menudo en una unidad).  
**iteración** Ejecución repetida de una serie de sentencias usando bien una función que se llama a si misma o bien un bucle.  
**llamada a función** Una sentencia que ejecuta una función. Consiste en el nombre de la función seguido por una lista de argumentos.  
**notación punto** La sintaxis para llamar a una función de otro módulo, especificando el nombre del módulo seguido por un punto y el nombre de la función.  
**objeto función** Un valor creado por una definición de función. El nombre de la función es una variable que se refiere al objeto función.  
**objeto módulo** Un valor creado por una sentencia import, que proporciona acceso a los datos y código definidos en un módulo.  
**parámetro** Un nombre usado dentro de una función para referirse al valor pasado como argumento.  
**pseudoaleatorio** Perteneciente a una secuencia de números que parecen ser aleatorios, pero son generados por un programa determinista.  
**sentencia import** Una sentencia que lee un archivo módulo y crea un objeto módulo.  
**valor de retorno** El resultado de una función. Si una llamada a una función es usada como una expresión, el valor de retorno es el valor de la expresión.

### Ejercicios

**Ejercicio 17: ¿Cuál es la utilidad de la palabra clave “def” en Python?**

a) Es una jerga que significa “este código es realmente estupendo”  
b) Indica el comienzo de una función  
c) Indica que la siguiente sección de código indentado debe ser almacenada para usarla más tarde  
d) b y c son correctas ambas  
e) Ninguna de las anteriores

**Ejercicio 18: ¿Qué mostrará en pantalla el siguiente programa Python?**  
def fred():  
> print("Zap")  

def jane():  
> print("ABC")  

jane()  
fred()  
jane()  

a) Zap ABC jane fred jane  
b) Zap ABC Zap  
c) ABC Zap jane  
d) ABC Zap ABC  
e) Zap Zap Zap

**Ejercicio 19: (De la ref. 2) Reescribe el programa de cálculo del salario, con tarifa-y-media para las horas extras, y crea una función llamada calculo_salario que reciba dos parámetros (horas y tarifa).**  
Introduzca Horas: 45  
Introduzca Tarifa: 10  
Salario: 475.0

**Ejercicio 20: Reescribe el programa de calificaciones del capítulo anterior usando una función llamada calcula_calificacion, que reciba una puntuación como parámetro y devuelva una calificación como cadena.**  
**Puntuación** Calificación  
> **0.9** Sobresaliente  
> **0.8** Notable  
> **0.7** Bien  
> **0.6** Suficiente  
**<= 0.6** Insuficiente    

<br/>
Introduzca puntuación: 0.95  
Sobresaliente  

Introduzca puntuación: perfecto  
Puntuación incorrecta  

Introduzca puntuación: 10.0  
Puntuación incorrecta  

Introduzca puntuación: 0.75  
Bien  

Introduzca puntuación: 0.5  
Insuficiente  

Ejecuta el programa repetidamente para probar con varios valores de entrada diferentes.

**Ejercicio 21: Escribe un programa que lea repetidamente números hasta que el usuario introduzca “fin”. Una vez se haya introducido “fin”, muestra por pantalla el total, la cantidad de números y la media de esos números. Si el usuario introduce cualquier otra cosa que no sea un número, detecta su fallo usando try y except, muestra un mensaje de error y pasa al número siguiente.**  
Introduzca un número: 4  
Introduzca un número: 5  
Introduzca un número: dato erróneo    
Entrada inválida  
Introduzca un número: 7  
Introduzca un número: fin  
16 3 5.33333333333

Ejercicio 22: Escribe otro programa que pida una lista de números como la anterior y al final muestre por pantalla el máximo y mínimo de los números, en vez de la media.

https://xkcd.com/149/

<img src="https://github.com/inefable12/Python_para_todos/blob/main/imagenes/xkcd149.PNG?raw=1"><br/>  
<br/>  
<br/>

## List Comprehension

nueva_lista = []

for **i** in **list**:

  if condición:

    nueva_lista.append(expresion(i))

**Formato de la compresión**

[resultado(i) for i in list if condición]

### Ejemplos

In [ ]:
#1: Imprimir los números pares de la siguiente lista
numeros = [1, 2, 34, 86, 4, 5, 99, 890, 45]

In [ ]:
pares = []
for num in numeros:
    if num % 2 == 0:
        pares.append(num)
print(pares)

In [ ]:
pares = [num for num in numeros if num % 2 == 0]
print(pares)

In [ ]:
#2 Capitalizar las palabras de una lista
palabras = ['casa', 'perro', 'puerta', 'pizza']
cap = [palabra.title() for palabra in palabras]
print(cap)

In [ ]:
#3 Calcular los cuadrados del 0 al 9
cuadrados = [num**2 for num in range(10)]
print(cuadrados)

In [ ]:
#4 Extraer todas los archivos .*log de un fichero que empiezan con t
import os
ficheros_python = [f for f in os.listdir('.') if f.endswith('.log') and f.startswith('t')]
print(ficheros_python)

In [ ]:
#5 Número, doble y cuadrado de los números del 0 al 9
num_doble_cuadrado = [(num, num*2, num**2) for num in range(10)]
print(num_doble_cuadrado)

In [ ]:
#6 Ejemplo de doble bucle for
saludos = ['hola', 'saludos', 'hi']
nombres = ['j2logo', 'antonio', 'vega']
frases = ['{} {}'.format(saludo.title(), nombre.title()) for saludo in saludos for nombre in nombres]
print(frases)

# EJERCICIO REALIZADO EN LA ASESORÍA
## Objetivo: Indicar la cantidad de universidades que hay en Lima respecto al resto del país

In [9]:
# Jalando la tabla desde un enlace
enlace = "https://www.sunedu.gob.pe/lista-universidades/" # Guarda el url en la variable 'enlace'
# Se debe importar 4 librerías: 'numpy': Operaciones matemáticas, 'matplotlib' & 'seaborn': Permite graficar, 'pandas': Permite ytrabajar con tablas

In [35]:
# Importanda 'pandas'
import pandas as pd
# Para ver la data con 'data frame'
df = pd.read_html(enlace)
df
# La presentación es poco amigable

[    N°                                        UNIVERSIDAD   DEPARTAMENTO  \
 0    1           Universidad Nacional Mayor de San Marcos           Lima
 1    2  Universidad Nacional de San Cristóbal de Huamanga       Ayacucho
 2    3  Universidad Nacional de San Antonio Abad del C...          Cusco
 3    4                   Universidad Nacional de Trujillo    La Libertad
 4    5    Universidad Nacional de San Agustín de Arequipa       Arequipa
 5    6                 Universidad Nacional de Ingeniería           Lima
 6    7             Universidad Nacional Agraria La Molina           Lima
 7    8              Universidad Nacional San Luis Gonzaga            Ica
 8    9           Universidad Nacional del Centro del Perú          Junín
 9   10        Universidad Nacional de la Amazonía Peruana         Loreto
 10  11                 Universidad Nacional del Altiplano           Puno
 11  12                      Universidad Nacional de Piura          Piura
 12  13                  Universidad Nacional de Cajamarca      Cajamarca
 13  14           Universidad Nacional Federico Villarreal           Lima
 14  15           Universidad Nacional Agraria de la Selva        Huánuco
 15  16  Universidad Nacional Hermilio Valdizán de Huánuco        Huánuco
 16  17  Universidad Nacional de Educación Enrique Guzm...           Lima
 17  18        Universidad Nacional Daniel Alcides Carrión          Pasco
 18  19                    Universidad Nacional del Callao         Callao
 19  20  Universidad Nacional José Faustino Sánchez Car...           Lima
 20  21              Universidad Nacional Pedro Ruiz Gallo     Lambayeque
 21  22        Universidad Nacional Jorge Basadre Grohmann          Tacna
 22  23    Universidad Nacional Santiago Antúnez de Mayolo         Ancash
 23  24                 Universidad Nacional de San Martín     San Martín
 24  25                    Universidad Nacional de Ucayali        Ucayali
 25  26                     Universidad Nacional de Tumbes         Tumbes
 26  27                     Universidad Nacional del Santa         Ancash
 27  28               Universidad Nacional de Huancavelica   Huancavelica
 28  29    Universidad Nacional Amazónica de Madre de Dios  Madre De Dios
 29  30  Universidad Nacional Toribio Rodríguez de Mend...       Amazonas
 30  31  Universidad Nacional Micaela Bastidas de Apurímac       Apurímac
 31  32  Universidad Nacional Intercultural de la Amazonía        Ucayali
 32  33  Universidad Nacional Tecnológica de Lima Sur (*1)           Lima
 33  34           Universidad Nacional José María Arguedas       Apurímac
 34  35                   Universidad Nacional de Moquegua       Moquegua
 35  36                    Universidad Nacional de Juliaca           Puno
 36  37                       Universidad Nacional de Jaén      Cajamarca
 37  38                   Universidad Nacional de Frontera          Piura
 38  39             Universidad Nacional Autónoma de Chota      Cajamarca
 39  40                   Universidad Nacional de Barranca           Lima
 40  41                     Universidad Nacional de Cañete           Lima
 41  42  Universidad Nacional Intercultural Fabiola Sal...       Amazonas
 42  43  Universidad Nacional Intercultural de la Selva...          Junín
 43  44  Universidad Nacional Intercultural de Quillabamba          Cusco
 44  45     Universidad Nacional Autónoma de Alto Amazonas         Loreto
 45  46  Universidad Nacional Autónoma Altoandina de Tarma          Junín
 46  47            Universidad Nacional Autónoma de Huanta       Ayacucho
 47  48       Universidad Nacional Tecnológica de Lima Sur           Lima
 48  49  Universidad Nacional Autónoma de Tayacaja Dani...   Huancavelica
 49  50                  Universidad Nacional Ciro Alegría    La Libertad

            PROVINCIA DISPOSITIVO LEGAL DE CREACIÓN FECHA DE CREACIÓN  \
 0               Lima      Real Cédula de Fundación        12/05/1551
 1           Huamanga                  Ley N° 12828        03/07/1677
 2              Cusco      Real Cédula de Fundación        01/06/1692
 3           Trujillo            Decreto Directoral        10/05/1824
 4           Arequipa           Acta de Instalación        11/11/1828
 5               Lima                  Ley N° 12379        19/07/1955
 6               Lima                  Ley N° 13417        08/04/1960
 7                Ica                  Ley N° 12495        20/12/1955
 8           Huancayo                  Ley N° 13827        02/01/1962
 9             Maynas                  Ley N° 13498        14/01/1961
 10              Puno                  Ley N° 13516        10/02/1961
 11             Piura                  Ley N° 13531        03/03/1961
 12         Cajamarca                  Ley N° 14015        13/02/1962
 13              Lima                  Ley N° 14692        30/10/1963
 14     Leoncio Prado                  Ley N° 14912        20/02/1964
 15           Huánuco                  Ley N° 14915        20/02/1964
 16              Lima                  Ley N° 15519        07/04/1965
 17             Pasco                  Ley N° 15527        23/04/1965
 18            Callao                  Ley N° 16225        02/09/1966
 19            Huaura          Decreto Ley N° 17358        31/12/1968
 20        Lambayeque          Decreto Ley N° 18179        17/03/1970
 21             Tacna          Decreto Ley N° 18942        26/08/1971
 22            Huaraz          Decreto Ley N° 21856        24/05/1977
 23        San Martín          Decreto Ley N° 22803        18/12/1979
 24  Coronel Portillo          Decreto Ley N° 22804        18/12/1979
 25            Tumbes                  Ley N° 23881        23/06/1984
 26             Santa                  Ley N° 24035        20/12/1984
 27      Huancavelica                  Ley N° 25265        20/06/1990
 28         Tambopata                  Ley N° 27297        06/07/2000
 29       Chachapoyas                  Ley N° 27347        19/09/2000
 30           Abancay                  Ley N° 27348        27/09/2000
 31  Coronel Portillo                  Ley N° 27250        05/01/2000
 32              Lima                  Ley N° 27413        01/02/2001
 33       Andahuaylas                  Ley N° 28372        01/11/2004
 34    Mariscal Nieto                  Ley N° 28520        24/05/2005
 35         San Román                  Ley N° 29074        25/07/2007
 36              Jaén                  Ley N° 29304        20/12/2008
 37           Sullana                  Ley N° 29568        06/08/2010
 38             Chota                  Ley N° 29531        12/05/2010
 39          Barranca                  Ley N° 29553        07/07/2010
 40            Cañete                  Ley N° 29488        23/12/2009
 41             Bagua                  Ley N° 29614        18/11/2010
 42       Chanchamayo                  Ley N° 29616        19/11/2010
 43     La Convención                  Ley N° 29620        01/12/2010
 44     Alto Amazonas                  Ley N° 29649        11/01/2011
 45             Tarma                  Ley N° 29652        14/01/2011
 46            Huanta                  Ley N° 29658        28/01/2011
 47              Lima                  Ley N° 29659        28/01/2011
 48          Tayacaja                  Ley N° 29716        23/06/2011
 49   Sanchez Carrión                  Ley N° 29756        17/07/2011

    DISPOSITIVO LEGAL DE LICENCIAMIENTO FECHA DE PUB. DIARIO EL PERUANO
 0           Res. N° 036-2018-SUNEDU/CD                      04/04/2018
 1           Res. N° 050-2018-SUNEDU/CD                      01/06/2018
 2           Res. N° 059-2019-SUNEDU/CD                      04/05/2019
 3           Res. N° 127-2018-SUNEDU/CD                      20/09/2018
 4           Res. N° 098-2018-SUNEDU/CD                      27/08/2018
 5           Res. N° 073-2017-SUNEDU/CD                      28/11/2017
 6           Res. N° 011-2017-SUNEDU/CD                      20/03/2017
 7           Res. N° 002-2022-SUNEDU/CD                      15/01/2022
 8           Res. N° 022-2019-SUNEDU/CD                      01/03/2019
 9           Res. N° 012-2019-SUNEDU/CD                      01/02/2019
 10          Res. N° 101-2017-SUNEDU/CD                      30/12/2017
 11          Res. N° 058-2019-SUNEDU/CD                      07/05/2019
 12          Res. N° 080-2018-SUNEDU/CD                      17/07/2018
 13          Res. N° 035-2020-SUNEDU/CD                      11/03/2020
 14          Res. N° 114-2019-SUNEDU/CD                      29/08/2019
 15          Res. N° 099-2019-SUNEDU/CD                      26/07/2019
 16          Res. N° 165-2019-SUNEDU/CD                      13/12/2019
 17          Res. N° 111-2019-SUNEDU/CD                      22/08/2019
 18          Res. N° 171-2019-SUNEDU/CD                      24/12/2019
 19          Res. N° 012-2020-SUNEDU/CD                      28/01/2020
 20          Res. N° 015-2023-SUNEDU/CD                      09/06/2023
 21          Res. N° 056-2018-SUNEDU/CD                      13/06/2018
 22          Res. N° 173-2018-SUNEDU/CD                      01/01/2018
 23          Res. N° 055-2019-SUNEDU/CD                      01/05/2019
 24          Res. N° 149-2018-SUNEDU/CD                      15/11/2018
 25          Res. N° 155-2019-SUNEDU/CD                      03/12/2019
 26          Res. N° 028-2019-SUNEDU/CD                      12/03/2019
 27          Res. N° 086-2019-SUNEDU/CD                      03/07/2019
 28          Res. N° 132-2019-SUNEDU/CD                      12/10/2019
 29          Res. N° 033-2017-SUNEDU/CD                      17/09/2017
 30          Res. N° 021-2020-SUNEDU/CD                      05/02/2020
 31          Res. N° 131-2018-SUNEDU/CD                      27/09/2018
 32          Res. N° 059-2018-SUNEDU/CD                      21/06/2018
 33          Res. N° 035-2017-SUNEDU/CD                      02/10/2017
 34          Res. N° 103-2017-SUNEDU/CD                      06/01/2018
 35          Res. N° 097-2018-SUNEDU/CD                      26/08/2018
 36          Res. N° 002-2018-SUNEDU/CD                      14/01/2018
 37          Res. N° 086-2019-SUNEDU/CD                      06/04/2019
 38          Res. N° 160-2018-SUNEDU/CD                      08/12/2018
 39          Res. N° 047-2018-SUNEDU/CD                      24/05/2018
 40          Res. N° 116-2018-SUNEDU/CD                      12/09/2018
 41          Res. N° 095-2018-SUNEDU/CD                      14,/08/018
 42          Res. N° 033-2018-SUNEDU/CD                      23/03/2018
 43          Res. N° 085-2019-SUNEDU/CD                      02/07/2019
 44          Res. N° 062-2018-SUNEDU/CD                      29/06/2018
 45          Res. N° 142-2018-SUNEDU/CD                      19/10/2018
 46          Res. N° 014-2017-SUNEDU/CD                      19/04/2017
 47          Res. N° 059-2018-SUNEDU/CD                      21/06/2018
 48          Res. N° 016-2019-SUNEDU/CD                      15/02/2019
 49          Res. N° 029-2023-SUNEDU/CD                      15/02/2019  ,
    (*) Universidades que cambiaron de denominación  \
 0                                                1

    (*) Universidades que cambiaron de denominación.1
 0  Denominación anterior: Universidad Nacional Te...  ,
     N°                                        UNIVERSIDAD DEPARTAMENTO  \
 0    1           Pontificia Universidad Católica del Perú         Lima
 1    2               Universidad Peruana Cayetano Heredia         Lima
 2    3                Universidad Católica de Santa María     Arequipa
 3    4                           Universidad del Pacífico         Lima
 4    5                                Universidad de Lima         Lima
 ..  ..                                                ...          ...
 87  88  Universidad Santo Tomás de Aquino de Ciencia e...        Junín
 88  89                           Universidad Privada SISE         Lima
 89  90     Universidad Seminario Evangélico de Lima (*12)         Lima
 90  91         Universidad Seminario Bíblico Andino (*12)         Lima
 91  92                      Universidad Católica San José         Lima

    PROVINCIA DISPOSITIVO LEGAL DE CREACIÓN FECHA DE CREACIÓN  \
 0       Lima               Decreto Supremo        24/03/1917
 1       Lima         Decreto Supremo N° 18        22/09/1961
 2   Arequipa         Decreto Supremo N° 24        06/12/1961
 3       Lima         Decreto Supremo N° 08        28/02/1962
 4       Lima         Decreto Supremo N° 23        25/04/1962
 ..       ...                           ...               ...
 87  Huancayo       Res. N° 407-2012-CONAFU        25/07/2012
 88      Lima       Res. N° 408-2012-CONAFU        25/07/2012
 89      Lima                  Ley N° 30220        09/07/2014
 90      Lima                  Ley N° 30220        09/07/2014
 91      Lima      Real Cédula de Fundación        12/05/1551

    DISPOSITIVO LEGAL DE LICENCIAMIENTO O DENEGATORIA  \
 0                         Res. N° 025-2016-SUNEDU/CD
 1                         Res. N° 029-2016-SUNEDU/CD
 2                         Res. N° 102-2017-SUNEDU/CD
 3                         Res. N° 030-2016-SUNEDU/CD
 4                         Res. N° 027-2016-SUNEDU/CD
 ..                                               ...
 87                                               NaN
 88                                               NaN
 89                                               NaN
 90                                               NaN
 91                                               NaN

    FECHA DE PUB. DIARIO EL PERUANO CONDICIÓN JURÍDICA
 0                       06/07/2016         Asociativa
 1                       27/07/2016         Asociativa
 2                       31/12/2017         Asociativa
 3                       27/07/2016         Asociativa
 4                       12/07/2016         Asociativa
 ..                             ...                ...
 87                             NaN         Societaria
 88                             NaN         Societaria
 89                             NaN         Asociativa
 90                             NaN         Asociativa
 91                             NaN         Asociativa

 [92 rows x 9 columns],
     (*)Universidades que cambiaron de denominación  \
 0                                                1
 1                                                2
 2                                                3
 3                                                4
 4                                                5
 5                                                6
 6                                                7
 7                                                8
 8                                                9
 9                                               10
 10                                              11
 11                                              12
 12                                              13

      (*)Universidades que cambiaron de denominación.1
 0   Denominación anterior: Universidad Privada de ...
 1   Denominación anterior: Universidad Privada de ...
 2   Denominación anterior: Universidad Particular ...
 3   Denominación anterior: Universidad Privada los...
 4   Denominación anterior: Universidad Privada "Ab...
 5   Denominación anterior: Universidad Privada "Sa...
 6   Denominación anterior: Universidad Continental...
 7   Denominación anterior: Universidad Católica de...
 8   Denominación anterior: Universidad Ada A. Byro...
 9   Denominación anterior: Universidad Católica de...
 10  Denominación anterior: Universidad de Negocios...
 11  La Quinta disposición complementaria final de ...
 12  Denominación anterior: Universidad Privada de ...  ]

In [36]:
# Usamos '0' para ver la primera pestaña de la tabla, "Universidades Públicas"
df[0]

,N°,UNIVERSIDAD,DEPARTAMENTO,PROVINCIA,DISPOSITIVO LEGAL DE CREACIÓN,FECHA DE CREACIÓN,DISPOSITIVO LEGAL DE LICENCIAMIENTO,FECHA DE PUB. DIARIO EL PERUANO
0,1,Universidad Nacional Mayor de San Marcos,Lima,Lima,Real Cédula de Fundación,12/05/1551,Res. N° 036-2018-SUNEDU/CD,04/04/2018
1,2,Universidad Nacional de San Cristóbal de Huamanga,Ayacucho,Huamanga,Ley N° 12828,03/07/1677,Res. N° 050-2018-SUNEDU/CD,01/06/2018
2,3,Universidad Nacional de San Antonio Abad del C...,Cusco,Cusco,Real Cédula de Fundación,01/06/1692,Res. N° 059-2019-SUNEDU/CD,04/05/2019
3,4,Universidad Nacional de Trujillo,La Libertad,Trujillo,Decreto Directoral,10/05/1824,Res. N° 127-2018-SUNEDU/CD,20/09/2018
4,5,Universidad Nacional de San Agustín de Arequipa,Arequipa,Arequipa,Acta de Instalación,11/11/1828,Res. N° 098-2018-SUNEDU/CD,27/08/2018
5,6,Universidad Nacional de Ingeniería,Lima,Lima,Ley N° 12379,19/07/1955,Res. N° 073-2017-SUNEDU/CD,28/11/2017
6,7,Universidad Nacional Agraria La Molina,Lima,Lima,Ley N° 13417,08/04/1960,Res. N° 011-2017-SUNEDU/CD,20/03/2017
7,8,Universidad Nacional San Luis Gonzaga,Ica,Ica,Ley N° 12495,20/12/1955,Res. N° 002-2022-SUNEDU/CD,15/01/2022
8,9,Universidad Nacional del Centro del Perú,Junín,Huancayo,Ley N° 13827,02/01/1962,Res. N° 022-2019-SUNEDU/CD,01/03/2019
9,10,Universidad Nacional de la Amazonía Peruana,Loreto,Maynas,Ley N° 13498,14/01/1961,Res. N° 012-2019-SUNEDU/CD,01/02/2019
10,11,Universidad Nacional del Altiplano,Puno,Puno,Ley N° 13516,10/02/1961,Res. N° 101-2017-SUNEDU/CD,30/12/2017
11,12,Universidad Nacional de Piura,Piura,Piura,Ley N° 13531,03/03/1961,Res. N° 058-2019-SUNEDU/CD,07/05/2019
12,13,Universidad Nacional de Cajamarca,Cajamarca,Cajamarca,Ley N° 14015,13/02/1962,Res. N° 080-2018-SUNEDU/CD,17/07/2018
13,14,Universidad Nacional Federico Villarreal,Lima,Lima,Ley N° 14692,30/10/1963,Res. N° 035-2020-SUNEDU/CD,11/03/2020
14,15,Universidad Nacional Agraria de la Selva,Huánuco,Leoncio Prado,Ley N° 14912,20/02/1964,Res. N° 114-2019-SUNEDU/CD,29/08/2019
15,16,Universidad Nacional Hermilio Valdizán de Huánuco,Huánuco,Huánuco,Ley N° 14915,20/02/1964,Res. N° 099-2019-SUNEDU/CD,26/07/2019
16,17,Universidad Nacional de Educación Enrique Guzm...,Lima,Lima,Ley N° 15519,07/04/1965,Res. N° 165-2019-SUNEDU/CD,13/12/2019
17,18,Universidad Nacional Daniel Alcides Carrión,Pasco,Pasco,Ley N° 15527,23/04/1965,Res. N° 111-2019-SUNEDU/CD,22/08/2019
18,19,Universidad Nacional del Callao,Callao,Callao,Ley N° 16225,02/09/1966,Res. N° 171-2019-SUNEDU/CD,24/12/2019
19,20,Universidad Nacional José Faustino Sánchez Car...,Lima,Huaura,Decreto Ley N° 17358,31/12/1968,Res. N° 012-2020-SUNEDU/CD,28/01/2020
20,21,Universidad Nacional Pedro Ruiz Gallo,Lambayeque,Lambayeque,Decreto Ley N° 18179,17/03/1970,Res. N° 015-2023-SUNEDU/CD,09/06/2023
21,22,Universidad Nacional Jorge Basadre Grohmann,Tacna,Tacna,Decreto Ley N° 18942,26/08/1971,Res. N° 056-2018-SUNEDU/CD,13/06/2018
22,23,Universidad Nacional Santiago Antúnez de Mayolo,Ancash,Huaraz,Decreto Ley N° 21856,24/05/1977,Res. N° 173-2018-SUNEDU/CD,01/01/2018
23,24,Universidad Nacional de San Martín,San Martín,San Martín,Decreto Ley N° 22803,18/12/1979,Res. N° 055-2019-SUNEDU/CD,01/05/2019
24,25,Universidad Nacional de Ucayali,Ucayali,Coronel Portillo,Decreto Ley N° 22804,18/12/1979,Res. N° 149-2018-SUNEDU/CD,15/11/2018
25,26,Universidad Nacional de Tumbes,Tumbes,Tumbes,Ley N° 23881,23/06/1984,Res. N° 155-2019-SUNEDU/CD,03/12/2019
26,27,Universidad Nacional del Santa,Ancash,Santa,Ley N° 24035,20/12/1984,Res. N° 028-2019-SUNEDU/CD,12/03/2019
27,28,Universidad Nacional de Huancavelica,Huancavelica,Huancavelica,Ley N° 25265,20/06/1990,Res. N° 086-2019-SUNEDU/CD,03/07/2019
28,29,Universidad Nacional Amazónica de Madre de Dios,Madre De Dios,Tambopata,Ley N° 27297,06/07/2000,Res. N° 132-2019-SUNEDU/CD,12/10/2019
29,30,Universidad Nacional Toribio Rodríguez de Mend...,Amazonas,Chachapoyas,Ley N° 27347,19/09/2000,Res. N° 033-2017-SUNEDU/CD,17/09/2017
30,31,Universidad Nacional Micaela Bastidas de Apurímac,Apurímac,Abancay,Ley N° 27348,27/09/2000,Res. N° 021-2020-SUNEDU/CD,05/02/2020
31,32,Universidad Nacional Intercultural de la Amazonía,Ucayali,Coronel Portillo,Ley N° 27250,05/01/2000,Res. N° 131-2018-SUNEDU/CD,27/09/2018
32,33,Universidad Nacional Tecnológica de Lima Sur (*1),Lima,Lima,Ley N° 27413,01/02/2001,Res. N° 059-2018-SUNEDU/CD,21/06/2018
33,34,Universidad Nacional José María Arguedas,Apurímac,Andahuaylas,Ley N° 28372,01/11/2004,Res. N° 035-2017-SUNEDU/CD,02/10/2017
34,35,Universidad Nacional de Moquegua,Moquegua,Mariscal Nieto,Ley N° 28520,24/05/2005,Res. N° 103-2017-SUNEDU/CD,06/01/2018
35,36,Universidad Nacional de Juliaca,Puno,San Román,Ley N° 29074,25/07/2007,Res. N° 097-2018-SUNEDU/CD,26/08/2018
36,37,Universidad Nacional de Jaén,Cajamarca,Jaén,Ley N° 29304,20/12/2008,Res. N° 002-2018-SUNEDU/CD,14/01/2018
37,38,Universidad Nacional de Frontera,Piura,Sullana,Ley N° 29568,06/08/2010,Res. N° 086-2019-SUNEDU/CD,06/04/2019
38,39,Universidad Nacional Autónoma de Chota,Cajamarca,Chota,Ley N° 29531,12/05/2010,Res. N° 160-2018-SUNEDU/CD,08/12/2018
39,40,Universidad Nacional de Barranca,Lima,Barranca,Ley N° 29553,07/07/2010,Res. N° 047-2018-SUNEDU/CD,24/05/2018
40,41,Universidad Nacional de Cañete,Lima,Cañete,Ley N° 29488,23/12/2009,Res. N° 116-2018-SUNEDU/CD,12/09/2018
41,42,Universidad Nacional Intercultural Fabiola Sal...,Amazonas,Bagua,Ley N° 29614,18/11/2010,Res. N° 095-2018-SUNEDU/CD,"14,/08/018"
42,43,Universidad Nacional Intercultural de la Selva...,Junín,Chanchamayo,Ley N° 29616,19/11/2010,Res. N° 033-2018-SUNEDU/CD,23/03/2018
43,44,Universidad Nacional Intercultural de Quillabamba,Cusco,La Convención,Ley N° 29620,01/12/2010,Res. N° 085-2019-SUNEDU/CD,02/07/2019
44,45,Universidad Nacional Autónoma de Alto Amazonas,Loreto,Alto Amazonas,Ley N° 29649,11/01/2011,Res. N° 062-2018-SUNEDU/CD,29/06/2018
45,46,Universidad Nacional Autónoma Altoandina de Tarma,Junín,Tarma,Ley N° 29652,14/01/2011,Res. N° 142-2018-SUNEDU/CD,19/10/2018
46,47,Universidad Nacional Autónoma de Huanta,Ayacucho,Huanta,Ley N° 29658,28/01/2011,Res. N° 014-2017-SUNEDU/CD,19/04/2017
47,48,Universidad Nacional Tecnológica de Lima Sur,Lima,Lima,Ley N° 29659,28/01/2011,Res. N° 059-2018-SUNEDU/CD,21/06/2018
48,49,Universidad Nacional Autónoma de Tayacaja Dani...,Huancavelica,Tayacaja,Ley N° 29716,23/06/2011,Res. N° 016-2019-SUNEDU/CD,15/02/2019
49,50,Universidad Nacional Ciro Alegría,La Libertad,Sanchez Carrión,Ley N° 29756,17/07/2011,Res. N° 029-2023-SUNEDU/CD,15/02/2019

In [37]:
# Para ver las primeras 5 entradas
df [0].head() # Se puede colocar números para que entregue el número de entradas

,N°,UNIVERSIDAD,DEPARTAMENTO,PROVINCIA,DISPOSITIVO LEGAL DE CREACIÓN,FECHA DE CREACIÓN,DISPOSITIVO LEGAL DE LICENCIAMIENTO,FECHA DE PUB. DIARIO EL PERUANO
0,1,Universidad Nacional Mayor de San Marcos,Lima,Lima,Real Cédula de Fundación,12/05/1551,Res. N° 036-2018-SUNEDU/CD,04/04/2018
1,2,Universidad Nacional de San Cristóbal de Huamanga,Ayacucho,Huamanga,Ley N° 12828,03/07/1677,Res. N° 050-2018-SUNEDU/CD,01/06/2018
2,3,Universidad Nacional de San Antonio Abad del C...,Cusco,Cusco,Real Cédula de Fundación,01/06/1692,Res. N° 059-2019-SUNEDU/CD,04/05/2019
3,4,Universidad Nacional de Trujillo,La Libertad,Trujillo,Decreto Directoral,10/05/1824,Res. N° 127-2018-SUNEDU/CD,20/09/2018
4,5,Universidad Nacional de San Agustín de Arequipa,Arequipa,Arequipa,Acta de Instalación,11/11/1828,Res. N° 098-2018-SUNEDU/CD,27/08/2018

In [40]:
# Se puede colocar números para que entregue el número de entradas
df [0].head(7)

,N°,UNIVERSIDAD,DEPARTAMENTO,PROVINCIA,DISPOSITIVO LEGAL DE CREACIÓN,FECHA DE CREACIÓN,DISPOSITIVO LEGAL DE LICENCIAMIENTO,FECHA DE PUB. DIARIO EL PERUANO
0,1,Universidad Nacional Mayor de San Marcos,Lima,Lima,Real Cédula de Fundación,12/05/1551,Res. N° 036-2018-SUNEDU/CD,04/04/2018
1,2,Universidad Nacional de San Cristóbal de Huamanga,Ayacucho,Huamanga,Ley N° 12828,03/07/1677,Res. N° 050-2018-SUNEDU/CD,01/06/2018
2,3,Universidad Nacional de San Antonio Abad del C...,Cusco,Cusco,Real Cédula de Fundación,01/06/1692,Res. N° 059-2019-SUNEDU/CD,04/05/2019
3,4,Universidad Nacional de Trujillo,La Libertad,Trujillo,Decreto Directoral,10/05/1824,Res. N° 127-2018-SUNEDU/CD,20/09/2018
4,5,Universidad Nacional de San Agustín de Arequipa,Arequipa,Arequipa,Acta de Instalación,11/11/1828,Res. N° 098-2018-SUNEDU/CD,27/08/2018
5,6,Universidad Nacional de Ingeniería,Lima,Lima,Ley N° 12379,19/07/1955,Res. N° 073-2017-SUNEDU/CD,28/11/2017
6,7,Universidad Nacional Agraria La Molina,Lima,Lima,Ley N° 13417,08/04/1960,Res. N° 011-2017-SUNEDU/CD,20/03/2017

In [41]:
# Conociendo las dimensiones de la tabla "Universidades Públicas"
df[0].shape

(50, 8)

In [46]:
# Se puede consultar por columnas y para no estar escribiendo continamente 'df[0]' lo llevamos a una variable: 'Públicas'
Públicas = df[0]

In [47]:
# Llmando nuevamente, pero en este caso, solamente 'Públicas'
Públicas

,N°,UNIVERSIDAD,DEPARTAMENTO,PROVINCIA,DISPOSITIVO LEGAL DE CREACIÓN,FECHA DE CREACIÓN,DISPOSITIVO LEGAL DE LICENCIAMIENTO,FECHA DE PUB. DIARIO EL PERUANO
0,1,Universidad Nacional Mayor de San Marcos,Lima,Lima,Real Cédula de Fundación,12/05/1551,Res. N° 036-2018-SUNEDU/CD,04/04/2018
1,2,Universidad Nacional de San Cristóbal de Huamanga,Ayacucho,Huamanga,Ley N° 12828,03/07/1677,Res. N° 050-2018-SUNEDU/CD,01/06/2018
2,3,Universidad Nacional de San Antonio Abad del C...,Cusco,Cusco,Real Cédula de Fundación,01/06/1692,Res. N° 059-2019-SUNEDU/CD,04/05/2019
3,4,Universidad Nacional de Trujillo,La Libertad,Trujillo,Decreto Directoral,10/05/1824,Res. N° 127-2018-SUNEDU/CD,20/09/2018
4,5,Universidad Nacional de San Agustín de Arequipa,Arequipa,Arequipa,Acta de Instalación,11/11/1828,Res. N° 098-2018-SUNEDU/CD,27/08/2018
5,6,Universidad Nacional de Ingeniería,Lima,Lima,Ley N° 12379,19/07/1955,Res. N° 073-2017-SUNEDU/CD,28/11/2017
6,7,Universidad Nacional Agraria La Molina,Lima,Lima,Ley N° 13417,08/04/1960,Res. N° 011-2017-SUNEDU/CD,20/03/2017
7,8,Universidad Nacional San Luis Gonzaga,Ica,Ica,Ley N° 12495,20/12/1955,Res. N° 002-2022-SUNEDU/CD,15/01/2022
8,9,Universidad Nacional del Centro del Perú,Junín,Huancayo,Ley N° 13827,02/01/1962,Res. N° 022-2019-SUNEDU/CD,01/03/2019
9,10,Universidad Nacional de la Amazonía Peruana,Loreto,Maynas,Ley N° 13498,14/01/1961,Res. N° 012-2019-SUNEDU/CD,01/02/2019
10,11,Universidad Nacional del Altiplano,Puno,Puno,Ley N° 13516,10/02/1961,Res. N° 101-2017-SUNEDU/CD,30/12/2017
11,12,Universidad Nacional de Piura,Piura,Piura,Ley N° 13531,03/03/1961,Res. N° 058-2019-SUNEDU/CD,07/05/2019
12,13,Universidad Nacional de Cajamarca,Cajamarca,Cajamarca,Ley N° 14015,13/02/1962,Res. N° 080-2018-SUNEDU/CD,17/07/2018
13,14,Universidad Nacional Federico Villarreal,Lima,Lima,Ley N° 14692,30/10/1963,Res. N° 035-2020-SUNEDU/CD,11/03/2020
14,15,Universidad Nacional Agraria de la Selva,Huánuco,Leoncio Prado,Ley N° 14912,20/02/1964,Res. N° 114-2019-SUNEDU/CD,29/08/2019
15,16,Universidad Nacional Hermilio Valdizán de Huánuco,Huánuco,Huánuco,Ley N° 14915,20/02/1964,Res. N° 099-2019-SUNEDU/CD,26/07/2019
16,17,Universidad Nacional de Educación Enrique Guzm...,Lima,Lima,Ley N° 15519,07/04/1965,Res. N° 165-2019-SUNEDU/CD,13/12/2019
17,18,Universidad Nacional Daniel Alcides Carrión,Pasco,Pasco,Ley N° 15527,23/04/1965,Res. N° 111-2019-SUNEDU/CD,22/08/2019
18,19,Universidad Nacional del Callao,Callao,Callao,Ley N° 16225,02/09/1966,Res. N° 171-2019-SUNEDU/CD,24/12/2019
19,20,Universidad Nacional José Faustino Sánchez Car...,Lima,Huaura,Decreto Ley N° 17358,31/12/1968,Res. N° 012-2020-SUNEDU/CD,28/01/2020
20,21,Universidad Nacional Pedro Ruiz Gallo,Lambayeque,Lambayeque,Decreto Ley N° 18179,17/03/1970,Res. N° 015-2023-SUNEDU/CD,09/06/2023
21,22,Universidad Nacional Jorge Basadre Grohmann,Tacna,Tacna,Decreto Ley N° 18942,26/08/1971,Res. N° 056-2018-SUNEDU/CD,13/06/2018
22,23,Universidad Nacional Santiago Antúnez de Mayolo,Ancash,Huaraz,Decreto Ley N° 21856,24/05/1977,Res. N° 173-2018-SUNEDU/CD,01/01/2018
23,24,Universidad Nacional de San Martín,San Martín,San Martín,Decreto Ley N° 22803,18/12/1979,Res. N° 055-2019-SUNEDU/CD,01/05/2019
24,25,Universidad Nacional de Ucayali,Ucayali,Coronel Portillo,Decreto Ley N° 22804,18/12/1979,Res. N° 149-2018-SUNEDU/CD,15/11/2018
25,26,Universidad Nacional de Tumbes,Tumbes,Tumbes,Ley N° 23881,23/06/1984,Res. N° 155-2019-SUNEDU/CD,03/12/2019
26,27,Universidad Nacional del Santa,Ancash,Santa,Ley N° 24035,20/12/1984,Res. N° 028-2019-SUNEDU/CD,12/03/2019
27,28,Universidad Nacional de Huancavelica,Huancavelica,Huancavelica,Ley N° 25265,20/06/1990,Res. N° 086-2019-SUNEDU/CD,03/07/2019
28,29,Universidad Nacional Amazónica de Madre de Dios,Madre De Dios,Tambopata,Ley N° 27297,06/07/2000,Res. N° 132-2019-SUNEDU/CD,12/10/2019
29,30,Universidad Nacional Toribio Rodríguez de Mend...,Amazonas,Chachapoyas,Ley N° 27347,19/09/2000,Res. N° 033-2017-SUNEDU/CD,17/09/2017
30,31,Universidad Nacional Micaela Bastidas de Apurímac,Apurímac,Abancay,Ley N° 27348,27/09/2000,Res. N° 021-2020-SUNEDU/CD,05/02/2020
31,32,Universidad Nacional Intercultural de la Amazonía,Ucayali,Coronel Portillo,Ley N° 27250,05/01/2000,Res. N° 131-2018-SUNEDU/CD,27/09/2018
32,33,Universidad Nacional Tecnológica de Lima Sur (*1),Lima,Lima,Ley N° 27413,01/02/2001,Res. N° 059-2018-SUNEDU/CD,21/06/2018
33,34,Universidad Nacional José María Arguedas,Apurímac,Andahuaylas,Ley N° 28372,01/11/2004,Res. N° 035-2017-SUNEDU/CD,02/10/2017
34,35,Universidad Nacional de Moquegua,Moquegua,Mariscal Nieto,Ley N° 28520,24/05/2005,Res. N° 103-2017-SUNEDU/CD,06/01/2018
35,36,Universidad Nacional de Juliaca,Puno,San Román,Ley N° 29074,25/07/2007,Res. N° 097-2018-SUNEDU/CD,26/08/2018
36,37,Universidad Nacional de Jaén,Cajamarca,Jaén,Ley N° 29304,20/12/2008,Res. N° 002-2018-SUNEDU/CD,14/01/2018
37,38,Universidad Nacional de Frontera,Piura,Sullana,Ley N° 29568,06/08/2010,Res. N° 086-2019-SUNEDU/CD,06/04/2019
38,39,Universidad Nacional Autónoma de Chota,Cajamarca,Chota,Ley N° 29531,12/05/2010,Res. N° 160-2018-SUNEDU/CD,08/12/2018
39,40,Universidad Nacional de Barranca,Lima,Barranca,Ley N° 29553,07/07/2010,Res. N° 047-2018-SUNEDU/CD,24/05/2018
40,41,Universidad Nacional de Cañete,Lima,Cañete,Ley N° 29488,23/12/2009,Res. N° 116-2018-SUNEDU/CD,12/09/2018
41,42,Universidad Nacional Intercultural Fabiola Sal...,Amazonas,Bagua,Ley N° 29614,18/11/2010,Res. N° 095-2018-SUNEDU/CD,"14,/08/018"
42,43,Universidad Nacional Intercultural de la Selva...,Junín,Chanchamayo,Ley N° 29616,19/11/2010,Res. N° 033-2018-SUNEDU/CD,23/03/2018
43,44,Universidad Nacional Intercultural de Quillabamba,Cusco,La Convención,Ley N° 29620,01/12/2010,Res. N° 085-2019-SUNEDU/CD,02/07/2019
44,45,Universidad Nacional Autónoma de Alto Amazonas,Loreto,Alto Amazonas,Ley N° 29649,11/01/2011,Res. N° 062-2018-SUNEDU/CD,29/06/2018
45,46,Universidad Nacional Autónoma Altoandina de Tarma,Junín,Tarma,Ley N° 29652,14/01/2011,Res. N° 142-2018-SUNEDU/CD,19/10/2018
46,47,Universidad Nacional Autónoma de Huanta,Ayacucho,Huanta,Ley N° 29658,28/01/2011,Res. N° 014-2017-SUNEDU/CD,19/04/2017
47,48,Universidad Nacional Tecnológica de Lima Sur,Lima,Lima,Ley N° 29659,28/01/2011,Res. N° 059-2018-SUNEDU/CD,21/06/2018
48,49,Universidad Nacional Autónoma de Tayacaja Dani...,Huancavelica,Tayacaja,Ley N° 29716,23/06/2011,Res. N° 016-2019-SUNEDU/CD,15/02/2019
49,50,Universidad Nacional Ciro Alegría,La Libertad,Sanchez Carrión,Ley N° 29756,17/07/2011,Res. N° 029-2023-SUNEDU/CD,15/02/2019

In [48]:
# Conociendo las dimensiones de la tabla, usando la variable
Públicas.shape

(50, 8)

In [51]:
# Como se llevó 'df[0]' a una variable 'Públicas', entonces se puede pedir por columnas. i. e. 'UNIVERSIDAD'
Públicas['UNIVERSIDAD']

0              Universidad Nacional Mayor de San Marcos
1     Universidad Nacional de San Cristóbal de Huamanga
2     Universidad Nacional de San Antonio Abad del C...
3                      Universidad Nacional de Trujillo
4       Universidad Nacional de San Agustín de Arequipa
5                    Universidad Nacional de Ingeniería
6                Universidad Nacional Agraria La Molina
7                 Universidad Nacional San Luis Gonzaga
8              Universidad Nacional del Centro del Perú
9           Universidad Nacional de la Amazonía Peruana
10                   Universidad Nacional del Altiplano
11                        Universidad Nacional de Piura
12                    Universidad Nacional de Cajamarca
13             Universidad Nacional Federico Villarreal
14             Universidad Nacional Agraria de la Selva
15    Universidad Nacional Hermilio Valdizán de Huánuco
16    Universidad Nacional de Educación Enrique Guzm...
17          Universidad Nacional Daniel Alcides Carrión
18                      Universidad Nacional del Callao
19    Universidad Nacional José Faustino Sánchez Car...
20                Universidad Nacional Pedro Ruiz Gallo
21          Universidad Nacional Jorge Basadre Grohmann
22      Universidad Nacional Santiago Antúnez de Mayolo
23                   Universidad Nacional de San Martín
24                      Universidad Nacional de Ucayali
25                       Universidad Nacional de Tumbes
26                       Universidad Nacional del Santa
27                 Universidad Nacional de Huancavelica
28      Universidad Nacional Amazónica de Madre de Dios
29    Universidad Nacional Toribio Rodríguez de Mend...
30    Universidad Nacional Micaela Bastidas de Apurímac
31    Universidad Nacional Intercultural de la Amazonía
32    Universidad Nacional Tecnológica de Lima Sur (*1)
33             Universidad Nacional José María Arguedas
34                     Universidad Nacional de Moquegua
35                      Universidad Nacional de Juliaca
36                         Universidad Nacional de Jaén
37                     Universidad Nacional de Frontera
38               Universidad Nacional Autónoma de Chota
39                     Universidad Nacional de Barranca
40                       Universidad Nacional de Cañete
41    Universidad Nacional Intercultural Fabiola Sal...
42    Universidad Nacional Intercultural de la Selva...
43    Universidad Nacional Intercultural de Quillabamba
44       Universidad Nacional Autónoma de Alto Amazonas
45    Universidad Nacional Autónoma Altoandina de Tarma
46              Universidad Nacional Autónoma de Huanta
47         Universidad Nacional Tecnológica de Lima Sur
48    Universidad Nacional Autónoma de Tayacaja Dani...
49                    Universidad Nacional Ciro Alegría
Name: UNIVERSIDAD, dtype: object

In [53]:
# Si de la columna 'UNIVERSUDAD' hay alguna con un nombre especíespecífico
Públicas['UNIVERSIDAD'] == 'Universidad Nacional del Centro del Perú'

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: UNIVERSIDAD, dtype: bool

In [57]:
# Para contar la cantidad de universidades 'Públicas' por 'PROVINCIA'
Públicas['PROVINCIA'].value_counts()

PROVINCIA
Lima                7
Coronel Portillo    2
Santa               1
Tambopata           1
Chachapoyas         1
Abancay             1
Andahuaylas         1
Mariscal Nieto      1
San Román           1
Jaén                1
Sullana             1
Chota               1
Barranca            1
Cañete              1
Bagua               1
Chanchamayo         1
La Convención       1
Alto Amazonas       1
Tarma               1
Huanta              1
Tayacaja            1
Huancavelica        1
Tumbes              1
Huamanga            1
San Martín          1
Cusco               1
Trujillo            1
Arequipa            1
Ica                 1
Huancayo            1
Maynas              1
Puno                1
Piura               1
Cajamarca           1
Leoncio Prado       1
Huánuco             1
Pasco               1
Callao              1
Huaura              1
Lambayeque          1
Tacna               1
Huaraz              1
Sanchez Carrión     1
Name: count, dtype: int64

In [59]:
# Otro método. Esto es, usando 'print'. Sin embargo, dará como resultado datos en texto
Uni_Púb = Públicas['PROVINCIA'].value_counts()
print (Uni_Púb)

PROVINCIA
Lima                7
Coronel Portillo    2
Santa               1
Tambopata           1
Chachapoyas         1
Abancay             1
Andahuaylas         1
Mariscal Nieto      1
San Román           1
Jaén                1
Sullana             1
Chota               1
Barranca            1
Cañete              1
Bagua               1
Chanchamayo         1
La Convención       1
Alto Amazonas       1
Tarma               1
Huanta              1
Tayacaja            1
Huancavelica        1
Tumbes              1
Huamanga            1
San Martín          1
Cusco               1
Trujillo            1
Arequipa            1
Ica                 1
Huancayo            1
Maynas              1
Puno                1
Piura               1
Cajamarca           1
Leoncio Prado       1
Huánuco             1
Pasco               1
Callao              1
Huaura              1
Lambayeque          1
Tacna               1
Huaraz              1
Sanchez Carrión     1
Name: count, dtype: int64

In [60]:
# Para obtener el resultado como tabla
Uni_Púb = Públicas['PROVINCIA'].value_counts()
(Uni_Púb)

PROVINCIA
Lima                7
Coronel Portillo    2
Santa               1
Tambopata           1
Chachapoyas         1
Abancay             1
Andahuaylas         1
Mariscal Nieto      1
San Román           1
Jaén                1
Sullana             1
Chota               1
Barranca            1
Cañete              1
Bagua               1
Chanchamayo         1
La Convención       1
Alto Amazonas       1
Tarma               1
Huanta              1
Tayacaja            1
Huancavelica        1
Tumbes              1
Huamanga            1
San Martín          1
Cusco               1
Trujillo            1
Arequipa            1
Ica                 1
Huancayo            1
Maynas              1
Puno                1
Piura               1
Cajamarca           1
Leoncio Prado       1
Huánuco             1
Pasco               1
Callao              1
Huaura              1
Lambayeque          1
Tacna               1
Huaraz              1
Sanchez Carrión     1
Name: count, dtype: int64

In [38]:
df [1]

,(*) Universidades que cambiaron de denominación,(*) Universidades que cambiaron de denominación.1
0,1,Denominación anterior: Universidad Nacional Te...

In [39]:
# Usamos '2' para ver la segunda pestaña de la tabla, "Universidades Privadas" y así sucesivamente
df [2]

,N°,UNIVERSIDAD,DEPARTAMENTO,PROVINCIA,DISPOSITIVO LEGAL DE CREACIÓN,FECHA DE CREACIÓN,DISPOSITIVO LEGAL DE LICENCIAMIENTO O DENEGATORIA,FECHA DE PUB. DIARIO EL PERUANO,CONDICIÓN JURÍDICA
0,1,Pontificia Universidad Católica del Perú,Lima,Lima,Decreto Supremo,24/03/1917,Res. N° 025-2016-SUNEDU/CD,06/07/2016,Asociativa
1,2,Universidad Peruana Cayetano Heredia,Lima,Lima,Decreto Supremo N° 18,22/09/1961,Res. N° 029-2016-SUNEDU/CD,27/07/2016,Asociativa
2,3,Universidad Católica de Santa María,Arequipa,Arequipa,Decreto Supremo N° 24,06/12/1961,Res. N° 102-2017-SUNEDU/CD,31/12/2017,Asociativa
3,4,Universidad del Pacífico,Lima,Lima,Decreto Supremo N° 08,28/02/1962,Res. N° 030-2016-SUNEDU/CD,27/07/2016,Asociativa
4,5,Universidad de Lima,Lima,Lima,Decreto Supremo N° 23,25/04/1962,Res. N° 027-2016-SUNEDU/CD,12/07/2016,Asociativa
...,...,...,...,...,...,...,...,...,...
87,88,Universidad Santo Tomás de Aquino de Ciencia e...,Junín,Huancayo,Res. N° 407-2012-CONAFU,25/07/2012,NaN,NaN,Societaria
88,89,Universidad Privada SISE,Lima,Lima,Res. N° 408-2012-CONAFU,25/07/2012,NaN,NaN,Societaria
89,90,Universidad Seminario Evangélico de Lima (*12),Lima,Lima,Ley N° 30220,09/07/2014,NaN,NaN,Asociativa
90,91,Universidad Seminario Bíblico Andino (*12),Lima,Lima,Ley N° 30220,09/07/2014,NaN,NaN,Asociativa
91,92,Universidad Católica San José,Lima,Lima,Real Cédula de Fundación,12/05/1551,NaN,NaN,Asociativa

In [42]:
# Conociendo las dimensiones de la tabla "Universidades Privadas"
df[2].shape

(92, 9)

In [49]:
Privadas = df[2]

In [50]:
Privadas.shape

(92, 9)

In [52]:
Privadas['PROVINCIA']

0         Lima
1         Lima
2     Arequipa
3         Lima
4         Lima
        ...
87    Huancayo
88        Lima
89        Lima
90        Lima
91        Lima
Name: PROVINCIA, Length: 92, dtype: object

In [54]:
Privadas['UNIVERSIDAD'] == 'Universidad del Pacífico'

0     False
1     False
2     False
3      True
4     False
      ...
87    False
88    False
89    False
90    False
91    False
Name: UNIVERSIDAD, Length: 92, dtype: bool

In [56]:
# Para contar la cantidad de universidades 'Privadas' por 'DEPARTAMENTO'
Privadas['DEPARTAMENTO'].value_counts()

DEPARTAMENTO
Lima            45
Arequipa         6
La Libertad      6
Lambayeque       5
Junín            5
Cusco            4
Loreto           3
Puno             2
Tacna            2
Ancash           2
Ica              2
Huancavelica     1
Amazonas         1
Ayacucho         1
Ucayali          1
Moquegua         1
Cajamarca        1
Huánuco          1
Piura            1
Apurímac         1
Callao           1
Name: count, dtype: int64

In [61]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [62]:
import matplotlib.pyplot as plt
import numpy as np

### Referencias

1. Severance, C. R. (2009). Python para todos.  
http://do1.dr-chuck.com/pythonlearn/ES_es/pythonlearn.pdf
2. Seguimiento de ejecución de código:  
https://pythontutor.com/